@page "{id}"
@model ViewBoardModel
@{
    ViewData["Title"] = "View Board";
}
@if (Model.Board != null)
{
    <div class="row">
        <h3>@Model.Board.Title</h3>
        <a 
        class="btn btn-primary"
        asp-area=""
        asp-page="/BoardPages/EditBoard"
        asp-route-boardId="@Model.Board.Id">
        Edit
        </a>
    </div>
    <div class="row pl-2 overflow-auto">
        <div class="row flex-nowrap">
    @foreach (var column in Model.Board.Columns)
    {
        <div class="card m-1 min-vw-20 mb-4" style="background-color: lightgray; width: 20rem;">
            <div class="card-body">
            <h5 class="card-title">@column.Title</h5>
            @foreach (var item in column.Items)
            {
            <div class="card">
            <div class="card-body p-2">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-description">Description: @item.Description</p>
            </div>
            </div>
            }
            <form method="post"  asp-page-handler="CreateItem" asp-route-columnId="@column.Id">
                <div class="form-group">
                <label for="create-item-title">New Item:</label>
                <input type="text" class="form-control" idz="create-item-title" placeholder="New Item..." name="create-item-title">
                <label for="create-item-description">Description:</label>
                <input type="text" class="form-control" idz="create-item-description" placeholder="New Item..." name="create-item-description">
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>
        </div>
    }
            <div class="card" style="display:inline-flex; width: 18rem;">
                    <div class="card-body">
                    <form method="post"  asp-page-handler="CreateColumn" asp-route-boardId="@Model.Board.Id">
                        <div class="form-group">
                        <label for="create-column-title">Add Column:</label>
                        <input type="text" class="form-control" id="create-column-title" placeholder="Backlog..."name="create-column-title">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

}
        